/*cssbuttons.app*/

.bn632-hover {
  /* modified */
  display: inline-block;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.bn632-hover.bn19 {
  border-radius: 6px;
  width: 10em;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0.5em;
  padding: 0.5em;
  background-image: linear-gradient(130deg, rgb(255 255 255), rgb(255 255 255), rgb(34 147 229), rgb(48 194 239));
  color: #244660;
/*  box-shadow: 0 4px 15px 0 rgb(70 171 134 / 75%);*/
}
.bn632-hover.bn25 {
  border-radius: 10px;
  width: 80px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  color: #fff;
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.bn632-hover:focus {
  outline: 1px solid pink;
  color: #fff;
  background-position: 100% 0;
}

.bn632-hover:hover {
  color: #fff;
  background-position: 100% 0;
}