/*cssbuttons.app*/

.bn632-hover {
  /* modified */
  display: inline-block;
  position: relative;
  width: 10em;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0.5em;
  padding: 0.5em;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 6px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn19 {
  background-image: linear-gradient(130deg, rgb(255 255 255), rgb(255 255 255), rgb(34 147 229), rgb(48 194 239));
  color: #244660;
/*  box-shadow: 0 4px 15px 0 rgb(70 171 134 / 75%);*/
}

.bn632-hover:hover {
  color: #fff;
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}


/*other btn632 */
.bn632c-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632c-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632c-hover:focus {
  outline: none;
}

.bn632c-hover.bn25c {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  width: 80px;
  height: 40px;
}

.gradient-background {
  background: linear-gradient(240deg,#aee3b2, #47b2e4);
  background-size: 120% 120%;
  animation: gradient-animation 1.8s linear infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}