@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
	*{
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: "Poppins" , sans-serif;
	}

.nav_name{
  color: #7CA6F8;
  font-family: Bayon;
  font-size: 2em;
  margin-left:10px;
}

/* Custom Bootstrap */
.nav-link:focus, .nav-link:hover {
  color: #7CA6F8;
}