@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
	*{
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: "Poppins" , sans-serif;
	}

.nav_name{
  color: #64b3f4;
  font-family: Bayon;
  font-size: 2em;
  margin-left:10px;
  text-decoration: none;
  padding-bottom: 2px;
}

.nav_name:hover {
	color: #004b80;
  }

/* Custom Bootstrap */
.nav-link:focus, .nav-link:hover {
  color: #64b3f4;
}