#home-section{
    height: 100%;
    width: 100%;
    z-index: 2;
    margin-left: 0%;
    padding: 2em 2em 0 7em;
  }
#bar2-placeholder{
    display:none;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed{
    border-radius: 10px;
}
.banner_custom{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(15, 47, 44, 1)),url("../../images/Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.feature_section{
    height: 100vh;
    max-width: 100vw;
    display: flex;
    background: linear-gradient(rgba(7, 42, 54, 0.5), rgb(15, 47, 44, 0.5))
}
.feature_element{
    width: 50vw;
}
.banner_button{
    height: fit-content;
    width: 10em;
    align-self: center;
    display: inline-table;
} 

.form-label {
    display: block;
    width: 100%;
    padding: .15rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    margin-bottom: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
}

.nav-link:focus, .nav-link:hover {
    color: white
}
.carousel-item{
    text-align: -webkit-center;
}
.title_custom{
    font-family: Bayon;
    color: #FFFFFF;
    font-size: 40px;
}
section.home{
    transition: margin-left 0.5s;
}
.action{
    width:10%;
    min-width: 5.5em;
    text-align-last: center;
}
.answer{
    height:30px;
    padding-top:1px;
    min-width: 5.5em;
}
.card{
    max-width:30%;
    margin: 1em;
} 
.card-title{
    font-family: Bayon;
    font-size: 2em;
}
.etc_info{
    margin-left: 2%;
    margin-right: 2%;
    color:#FFFFFF;
    word-spacing: -2px;
}



/* Mobile */
@media (max-width: 1080px) {
    #sidebar-pc{
      display: none;
    }
    #bar2-placeholder{
        display: block;
    }
    #home-section{
        padding: 2em 2em 2em 2em;
    }
    .action{
        min-width:40vw;
    }
    .main_custom{
        width:100%;
        margin-left: 0%;
    }
    .getstarted{
        display:flex!important;
        flex-direction: column!important;
    }
    .banner_button{
        align-self: center;
    }
    .feature_section{
        display: block;
        max-height: 100vh;
        max-width: 100vh;
    }
    .feature_element{
        min-width: 100vw;
        max-height: 50vh;
        display: block;
    }
    .page{
        padding: 5% 5%;
    }
    .practice_nav{
        flex-flow: column;
    }
}
