<div class="sidebar2 fixed-top bg-white">
    <div class="logo-details" style="display: flex">
      <div class="logo_name">TRANSPOSE</div>
      <div class='bx bx-menu' id="btn" onclick="openNav2()" style="font-size: 2em; position:absolute; right: 10px;" ></div>
  </div>
  <div id="nav-list" class="nav-list">
    <li>
      <a href="\" id = "index">
        <i class="fa-solid fa-house-chimney"></i>
        <span class="links_name">Home</span>
      </a>
       <span class="tooltip">Translate</span>
    </li>
    <li>
     <a href="learn" id = "learn">
       <i class="fa-solid fa-book"></i>
       <span class="links_name">Learn</span>
     </a>
     <span class="tooltip">Learn</span>
   </li>
   <li>
     <a href="practice" id = "practice">
       <i class="fa-solid fa-pencil"></i>
       <span class="links_name">Practice</span>
     </a>
     <span class="tooltip">Practice</span>
   </li>
 <hr>
   <li>
     <a href="what_is_transpose" id = "what_is_transpose">
       <i class="fa-solid fa-circle-info"></i>
       <span class="links_name">What is Transpose</span>
     </a>
     <span class="tooltip">What is Transpose</span>
   </li>
   <li>
    <a href="translate" id = "translate">
      <i class="fa-solid fa-repeat"></i>
      <span class="links_name">Translate</span>
    </a>
     <span class="tooltip">Translate</span>
  </li>
   <!-- <li>
     <a href="the_team" id = "the_team">
       <i class="fa-solid fa-people-group"></i>
       <span class="links_name">The Team</span>
     </a>
     <span class="tooltip">The Team</span>
   </li> -->
  </div>
  </div>

<script>


  function openNav2() {
    const barclass = document.getElementById('bar2-placeholder');
    if(barclass.className == "sidebar open"){
      barclass.className = "sidebar2";
      document.getElementById("nav-list").style.display = "none";
    }
    else{
      barclass.className = "sidebar open";
      document.getElementById("nav-list").style.display = "block";
      document.getElementById("btn").style.position = "static";
      }
  };
</script>