<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html>
  <head>
	<title> Transpose | English Sentence to Math Expression Translator </title>
	<!-- Design imports -->
	<div id="imports">	
	</div>
  </head>

 <body>
  <div id="bar-placeholder">
  </div>
  <div id="bar2-placeholder">
</div>
  <section id="home-section">
	<div class="container-fluid">
	<br>
		<main>
      <div class="main_custom">>
		<h2 class="title_custom"><i class="fa-solid fa-circle-question" style="font-size: 0.85em"></i>&ensp;How To Use It</h2>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">&emsp;&emsp;Transpose is a website that acts as a supplemental tool for students, 
		especially Grade 7 students, in learning a specific topic namely: "Translating English phrases to mathematical expressions". The tool does exactly 
		what the topic says, it translates english phrases inputted by the user, then outputs its mathematical expression equivalent.</p>
		<br>
		<h2 style="font-family: Bayon; color: #202124; font-size: 3em;">WHY TRANSPOSE?</h2>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">&emsp;&emsp;According to Programme for International Student Assessment or PISA's statistics in 2018, the mean score of 15 year-old Filipinos' 
		performance in secondary level mathematics is 353, that is 136 points lower than the average of 489 points among 77 countries participating in PISA, 
		making the Philippines ranked 75th or the 3rd lowest performing country. According to the studies, one of the students' hindrance in learning 
		mathematics is comprehending word problems. Students are having difficulties formulating these problems to turn into math expressions for easier 
		solving.</p>
		<br>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">&emsp;&emsp;Based on DepEd’s K-12 Basic Education Curriculum, the translation of English phrases to mathematical phrases and vice versa are mostly 
		encountered by Grade 7 students. Although online tools that solve math problems exist, they are either not broad enough to perceive problems 
		involving multiple operators or complex enough to perceive simple structured phrases that are commonly used in grade 7 curriculum. This where 
		Transpose comes in, a supplemental tool that caters to the phrases encountered in Grade 7 that would aid the students translate them sensibly.</p>
		<br>
		<h2 style="font-family: Bayon; color: #202124; font-size: 3em;">HOW DOES IT WORK?</h2>
		<br>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">&emsp;&emsp;There are two algorithms in play: Pre-processing and Conversion.
		The Pre-processing algorithm denoises and simplies the input. While the Conversion algorithm converts the preprocessed input into a translation output.</p>
		<br>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">To understand the algorithms better, let's take a look at this example:</p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%; font-family: Montserrat; font-size: 1.2em;"><mark>Three diminished by the sum of a number and four</mark></p>
		<br>
		<hr style="border-top: 3px dashed #111111; margin-left: 2%; margin-right: 2%;">
		<h2 style="font-family: Bayon; color: #202124; font-size: 2em;">PRE-PROCESSING</h2>
		<div class="card" style = "margin-left: 2%; margin-right: 2%;">
		<div class="card-body">
		<p class="card-title" align="left"><b>Tokenization and POS Tagging</b></p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">Through Preprocessing's tokenization and parts of speech (POS) tagging, each word will be categorized.</p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%; font-family: Montserrat; font-size: 1.2em;">
		<span style="background-color: #FFCCCB">Three <span style="font-family: Mukta; font-size: 0.5em;"><b>NUM</b></span></span>
		<span style="background-color: #FFB6C1">diminished <span style="font-family: Mukta; font-size: 0.5em;"><b>VERB</b></span></span>
		<span style="background-color: #C4A484">by <span style="font-family: Mukta; font-size: 0.5em;"><b>ADP</b></span></span>
		<span style="background-color: #90EE90">the <span style="font-family: Mukta; font-size: 0.5em;"><b>DET</b></span></span>
		<span style="background-color: #ADD8E6">sum <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span>
		<span style="background-color: #C4A484">of <span style="font-family: Mukta; font-size: 0.5em;"><b>ADP</b></span></span>
		<span style="background-color: #90EE90">a <span style="font-family: Mukta; font-size: 0.5em;"><b>DET</b></span></span>
		<span style="background-color: #ADD8E6">number <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span>
		<span style="background-color: #CF9FFF">and <span style="font-family: Mukta; font-size: 0.5em;"><b>CONJ</b></span></span>
		<span style="background-color: #FFCCCB">four <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span></p>
		</div>
		</div>
		<br>
		<div class="card" style = "margin-left: 2%; margin-right: 2%;">
		<div class="card-body">
		<p class="card-title" align="left"><b>Lemmatization</b></p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">Words will then be lemmatized (reduced into their root word).</p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%; font-family: Montserrat; font-size: 1.2em;">
		<span style="background-color: #FFCCCB">Three <span style="font-family: Mukta; font-size: 0.5em;"><b>NUM</b></span></span>
		<span style="background-color: #FFD580">diminish <span style="font-family: Mukta; font-size: 0.5em;"><b>ADJ</b></span></span>
		<span style="background-color: #C4A484">by <span style="font-family: Mukta; font-size: 0.5em;"><b>ADP</b></span></span>
		<span style="background-color: #90EE90">the <span style="font-family: Mukta; font-size: 0.5em;"><b>DET</b></span></span>
		<span style="background-color: #ADD8E6">sum <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span>
		<span style="background-color: #C4A484">of <span style="font-family: Mukta; font-size: 0.5em;"><b>ADP</b></span></span>
		<span style="background-color: #90EE90">a <span style="font-family: Mukta; font-size: 0.5em;"><b>DET</b></span></span>
		<span style="background-color: #ADD8E6">number <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span>
		<span style="background-color: #CF9FFF">and <span style="font-family: Mukta; font-size: 0.5em;"><b>CONJ</b></span></span>
		<span style="background-color: #FFCCCB">four <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span></p>
		</div>
		</div>
		<br>
		<div class="card" style = "margin-left: 2%; margin-right: 2%;">
		<div class="card-body">
		<p class="card-title" align="left"><b>Filtering stop words</b></p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">Then, stop words (words that bear no significant meaning) are removed.</p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%; font-family: Montserrat; font-size: 1.2em;">
		<span style="background-color: #FFCCCB">Three <span style="font-family: Mukta; font-size: 0.5em;"><b>NUM</b></span></span>
		<span style="background-color: #FFD580">diminish <span style="font-family: Mukta; font-size: 0.5em;"><b>ADJ</b></span></span>
		<span style="background-color: #ADD8E6">sum <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span>
		<span style="background-color: #ADD8E6">number <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span>
		<span style="background-color: #CF9FFF">and <span style="font-family: Mukta; font-size: 0.5em;"><b>CONJ</b></span></span>
		<span style="background-color: #FFCCCB">four <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span></p>
		</div>
		</div>
		<br>
		<div class="card" style = "margin-left: 2%; margin-right: 2%;">
		<div class="card-body">
		<p class="card-title" align="left"><b>Standardization</b></p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">Last step for Preprocessing, keywords are standardized into its basic concept.</p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%; font-family: Montserrat; font-size: 1.2em;">
		<span style="background-color: #FFCCCB">Three <span style="font-family: Mukta; font-size: 0.5em;"><b>NUM</b></span></span>
		<span style="background-color: #FFFFE0">minus <span style="font-family: Mukta; font-size: 0.5em;"><b>ADJ</b></span></span>
		<span style="background-color: #ADD8E6">sum <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span>
		<span style="background-color: #ADD8E6">number <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span>
		<span style="background-color: #CF9FFF">and <span style="font-family: Mukta; font-size: 0.5em;"><b>CONJ</b></span></span>
		<span style="background-color: #FFCCCB">four <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span></p>
		</div>
		</div>
		<br>
		<hr style="border-top: 3px dashed #111111; margin-left: 2%; margin-right: 2%;">
		<h2 style="font-family: Bayon; color: #202124; font-size: 2em;">CONVERSION</h2>
		<div class="card" style = "margin-left: 2%; margin-right: 2%;">
		<div class="card-body">
		<p class="card-title" align="left"><b>Number Conversion</b></p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">Words that indicate numbers will be converted into their integer counterparts.</p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%; font-family: Montserrat; font-size: 1.2em;">
		<span style="background-color: #FFCCCB">3 <span style="font-family: Mukta; font-size: 0.5em;"><b>NUM</b></span></span>
		<span style="background-color: #FFFFE0">minus <span style="font-family: Mukta; font-size: 0.5em;"><b>ADJ</b></span></span>
		<span style="background-color: #ADD8E6">sum <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span>
		<span style="background-color: #ADD8E6">number <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span>
		<span style="background-color: #CF9FFF">and <span style="font-family: Mukta; font-size: 0.5em;"><b>CONJ</b></span></span>
		<span style="background-color: #FFCCCB">4 <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span></p>
		</div>
		</div>
		<br>
		<div class="card" style = "margin-left: 2%; margin-right: 2%;">
		<div class="card-body">
		<p class="card-title" align="left"><b>Variables</b></p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">Unknown words (words not defined in our algorithm), become variables.</p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%; font-family: Montserrat; font-size: 1.2em;">
		<span style="background-color: #FFCCCB">3 <span style="font-family: Mukta; font-size: 0.5em;"><b>NUM</b></span></span>
		<span style="background-color: #FFFFE0">minus <span style="font-family: Mukta; font-size: 0.5em;"><b>ADJ</b></span></span>
		<span style="background-color: #ADD8E6">sum <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span>
		<span style="background-color: #ADD8E6">x <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span>
		<span style="background-color: #CF9FFF">and <span style="font-family: Mukta; font-size: 0.5em;"><b>CONJ</b></span></span>
		<span style="background-color: #FFCCCB">4 <span style="font-family: Mukta; font-size: 0.5em;"><b>NOUN</b></span></span></p>
		</div>
		</div>
		<br>
		<div class="card" style = "margin-left: 2%; margin-right: 2%;">
		<div class="card-body">
		<p class="card-title" align="left"><b>Interpretation</b></p>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">Using a defined context-free grammar and imposing a parse tree. The algorithm
		 is able to identify and interpret the sentence structure of the given input. See sample interpretation below:</p>
		<p align="center" style = "margin-left: 2%; margin-right: 2%; font-family: Montserrat; font-size: 1.2em;">
		<br>
		<span style="background-color: #FFCCCB"><mark>['3',&emsp;'minus',&emsp;('x',&emsp;'sum',&emsp;'4')&emsp;]</mark></span>
		<p align="center" style = "margin-left: 2%; margin-right: 2%; font-family: Montserrat; font-size: 1.2em;">
		<br>
		<span style="background-color: #FFCCCB"><mark>3&emsp;minus&emsp;(x&emsp;sum&emsp;4)</mark></span>
		<p align="center" style = "margin-left: 2%; margin-right: 2%; font-family: Montserrat; font-size: 1.2em;">
		<br>
		<span style="background-color: #FFCCCB"><mark>3&emsp;-&emsp;(x&emsp;+&emsp;4)</mark></span>
		</div>
		</div>
		<br>
		<br>
		<p align="justify" style = "margin-left: 2%; margin-right: 2%;">&emsp;&emsp;Transpose accepts a maximum of one (1) English sentence that contain number values and arithmetic operations derivable from keywords. 
		Appropriate grammar and syntax is needed for the sentence to be optimally translated. Transpose is case insensitive.</p>
		<br>
		<p align="left" style = "margin-left: 2%; margin-right: 2%;">&emsp;&emsp;<b>Accepted inputs include:</b></p>
		<p align="left" style = "margin-left: 2%; margin-right: 2%;">&emsp;&emsp;Number values in numerical form (e.g "1" , "2")  or standard number words
		(e.g "one", "two") </p>
		<p align="left" style = "margin-left: 2%; margin-right: 2%;">&emsp;&emsp;Words with an equivalent arithmetic operation</p>
		
		<br>
		<p align="left" style = "margin-left: 2%; margin-right: 2%;">&emsp;&emsp;<b>Transpose is unable to accept or recognize the following inputs:</b></p>
		<p align="left" style = "margin-left: 2%; margin-right: 2%;">&emsp;&emsp;Worded problems that contain scenarios</p>
		<p align="left" style = "margin-left: 2%; margin-right: 2%;">&emsp;&emsp;Altered words that represent numbers or arithmetic operations
		(s!x, tw3lve, sum_)</p>
		<p align="left" style = "margin-left: 2%; margin-right: 2%;">&emsp;&emsp;Words with incorrect spellings</p>
		
</div>
  </section>

  <!-- font awesome -->
	<script src="https://kit.fontawesome.com/956ed01ee8.js" crossorigin="anonymous"></script>

	<!-- jQuery -->
  <script 
    src="https://code.jquery.com/jquery-3.6.1.min.js" 
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous">
  </script>

  <!-- custom js, needs jQuery on top -->
  <script src="static/js/bar_loader.js"></script>
  
  </body>
</html>