{% extends "layout.html" %}
{% block content %}
<section id="bar-placeholder"></section>
<div id="bar2-placeholder" class="sidebar2"></div>

<section id="home-section" style="padding:0">
  <header class="banner_custom py-3">
    <div class="container px-5 py-5">
        <div class="gx-5">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="title_custom mb-4">TRANSPOSE</h1>
                    <p class="lead text-light mb-5">Transpose is an educational web app intended to supplement the learning of students regarding translations of English phrases to their mathematical symbol equivalents.</p>
                    <a class="banner_button btn btn-lg btn-outline-light btn-lg px-2;" href="#features"></i>Get started</a>
                </div>
            </div>
        </div>
    </div>
</header>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" id="features">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="feature_section align-items-center">
            <div class="feature_element d-flex"><img class="card-img-top" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="feature_element px-5 py-5 text-white text-center">
                <h1 class="fw-bolder">Learn the topic</h1>
                <p class="lead">Read through basics and examples to have a better understanding of the topic and translation.</p>
                <div>
                    <a class="btn btn-outline-light text-white mx-2 my-3" style="background-color: #64b3f4;" href="learn">
                        Start learning
                    </a>
                    <a class="btn bg-secondary text-white btn-outline-light mx-2 my-3" data-bs-target="#carouselExampleControls" data-bs-slide="next" href="#practice_feature">
                        Practice >
                    </a>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <div class="feature_section align-items-center">
            <div class="feature_element d-flex"><img class="card-img-top" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="feature_element px-5 py-5 text-white text-center">
                <h1 class="fw-bolder">Practice translating</h1>
                <p class="lead">Tackle sample questions to help you master translation and become familiar with special cases.</p>
                <div>
                  <a class="btn bg-secondary text-white btn-outline-light mx-2 my-3" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    < Learn
                  </a>
                  <a class="btn btn-outline-light text-white mx-2 my-3" style="background-color: #64b3f4;" href="practice">
                      Start practicing
                  </a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


<!-- jQuery -->
<script>
  $("#home").removeAttr("href");
  $("#home").css("color", "#64b3f4");
  $("#home").addClass("fw-semibold");
</script>

<script 
  src="https://code.jquery.com/jquery-3.6.1.min.js" 
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous">
</script>

<script>
  $("#sentence_form").submit(function(){
    $("#output").css("background", "white");
  });
</script>

<!-- custom js, needs jQuery on top -->
<script src="static/js/bar_loader.js"></script>
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
<script src="static/js/translate_post.js"></script>
{% endblock %}