{% extends "layout.html" %}
{% block content %}
<section id="bar-placeholder"></section>
<div id="bar2-placeholder" class="sidebar2"></div>

<section id="home-section" style="padding:0">
  <header class="banner_custom py-3">
    <div class="container px-5 py-5">
        <div class="gx-5">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="title_custom">TRANSPOSE</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Transpose is an educational web app intended to supplement the learning of students regarding translations of English phrases to their mathematical symbol equivalents.</p>
                </div>
            </div>
            <div class="col-sm gap-3 justify-content-xl-center getstarted">
                <a class="banner_button btn btn-outline-light btn-lg px-2 --bs-bg-opacity: .50;" href="#features"></i>Get started</a>
            </div>
        </div>
    </div>
</header>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" id="features">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="feature_section align-items-center">
            <div class="feature_element d-flex"><img class="card-img-top" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="feature_element px-5 py-5 text-white text-center">
                <h1 class="fw-bolder">Learn the topic</h1>
                <p class="lead">Read through basics and examples to have a better understanding of the topic and translation.</p>
                <div>
                    <a class="btn btn-outline-secondary text-white bg-primary mx-2" type="button" href="learn">
                        Start learning
                    </a>
                    <a class="btn btn-outline-dark mx-2" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" href="#practice_feature">
                        Go to Practice >
                    </a>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <div class="feature_section align-items-center">
            <div class="feature_element d-flex"><img class="card-img-top" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="feature_element px-5 py-5 text-white text-center">
                <h1 class="fw-bolder">Practice translating</h1>
                <p class="lead">Tackle sample questions to help you master translation and become familiar with special cases.</p>
                <div>
                  <a class="btn btn-outline-dark mx-2" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    < Go to Learn
                  </a>
                  <a class="btn btn-outline-secondary text-white bg-primary mx-2" type="button" href="practice">
                      Start practicing
                  </a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


<!-- Learn section-->
        <section id="learn_feature">
                
        </section>
    
<!-- Practice section-->
<section id="practice_feature">

</section>

        

</section> 




<!-- jQuery -->
<script 
  src="https://code.jquery.com/jquery-3.6.1.min.js" 
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous">
</script>

<script>
  $("#sentence_form").submit(function(){
    $("#output").css("background", "white");
  });
</script>

<!-- custom js, needs jQuery on top -->
<script src="static/js/bar_loader.js"></script>
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
<script src="static/js/translate_post.js"></script>
</body>
</html>
{% endblock %}