<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Transpose | English Sentence to Math Expression Translator </title>
    <link rel="icon" href="https://i.ibb.co/YTkmTmt/Logo.png" type="image/x-icon type">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bayon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta">
  </head>
  <body style="min-height: 100vh; background: linear-gradient(45deg, #6fb984, #64b3f4)">

    <nav class="navbar navbar-expand-sm fixed-top bg-light" style="--bs-navbar-padding-y:0">
      <div class="container-fluid"> 
        <a class="navbar-brand nav_name" href="\">TRANSPOSE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item mx-4">
              <a class="nav-link" id="home" href="\">Home</a>
            </li>
            <li class="nav-item mx-4">
              <a class="nav-link" id="learn" href="learn">Learn</a>
            </li>
            <li class="nav-item mx-4">
              <a class="nav-link" id="practice" href="practice">Practice</a>
            </li>
            <li class="nav-item mx-4">
              <a class="nav-link" id="translate" href="translate">Translate</a>
            </li>
            <li class="nav-item mx-4">
              <a class="nav-link" id="about_us"href="the_team">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
    <!-- jQuery -->
    <script 
    <script src="/static/js/jquery-3.6.3.min.js"></script>
    </script>
    {% block content %}{% endblock %}
    <!-- <p>&copy; 2015 Incredible Schools Site LLC</p> -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/font-awesome.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML"></script>
    <script>
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    </script>
  </body>
</html>