{% extends "layout.html" %}
{% block content %}

<section id="home-section">
  <section id="learn-section" class="page-section section-bg rounded">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Learn</h2>
        <p>English phrases or sentences can be translated easily into their corresponding mathematical expressions or equations by following these four simple steps:</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch text-center" data-aos="zoom-in" data-aos-delay="100" onclick="location.href='#read';" style="cursor: pointer;">
          <div class="icon-box">
            <div class="icon"><i class="fa-brands fa-readme"></i></i></i></div>
            <div class="section-subtitle"><h4 href="">1. Read</h4></div>
            <p>Read and understand the problem. Assign variables for unknown quantities.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 text-center" data-aos="zoom-in" data-aos-delay="200" onclick="location.href='#identify';" style="cursor: pointer;">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></i></i></div>
            <div class="section-subtitle"><h4 href="">2. Identify</h4></div>
            <p>Identify which words signify as the operands and which words signify as operators.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 text-center" data-aos="zoom-in" data-aos-delay="300" onclick="location.href='#analyze';" style="cursor: pointer;">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-gear"></i></i></i></i></div>
            <div class="section-subtitle"><h4 href="">3. Analyze</h4></div>
            <p>Analyze each operator keywords and apply their meaning to their corresponding operands.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 text-center" data-aos="zoom-in" data-aos-delay="400" onclick="location.href='#convert';" style="cursor: pointer;">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-retweet"></i></i></div>
            <div class="section-subtitle"><h4 href="">4. Convert</h4></div>
            <p>Convert the words into mathematical symbols and arrange them based on your analyzation.</p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Learn Section -->

  <div id="read"></div>
  <section class="learn-step section-bg rounded mt-3">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>1. Read</h2>
        <p class="lead">Read the following problem: <mark>Twice the sum of a number and twelve.</mark></p>
        <p>First, we look for words indicating an unknown quantity. The word 'number' does not indicate any value unlike the word 'twelve'. Hence, we assign it a variable 'x'.  
          Doing so, will change our phrase to: <mark>Twice the sum of x and twelve</mark>. Notice that the word "a" was also replaced along with the word 'number' 
          as it does not have any significant meaning.</p>
        <p><small>Note: A variable is used to represent an unknown quantity and can be represented as any of the lower-case letters in the alphabet.</small></p>
      </div>
    </div>
  </section>

  
  <div id="identify"></div>
  <section class="learn-step section-bg rounded mt-3">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>2. Identify</h2>
        <p>Next, we have to identify the keywords in our phrase.</p>
        <p class="lead">
          <span class="bg-success bg-opacity-25">Twice</span> <span class="bg-success bg-opacity-25"> the sum of</span> 
          <span class="bg-primary bg-opacity-25">x</span> and <span class="bg-primary bg-opacity-25">twelve</span>.
        </p>
        <p>
          Operator keywords are words that indicate math operations, while operands are numbers to be operated on by operators.
          In our case, we have two operator keywords namely: 'Twice' and 'the sum of' (highlighted in green). And two operands: 'x' and 'twelve' (highlighted in blue).
        </p>
      </div>
    </div>
  </section>

  
  <div id="analyze"></div>
  <section class="learn-step section-bg rounded mt-3">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>3. Analyze</h2>
        <p>
        Now it is time to apply the meaning of our identified operator keywords. First is the word 'twice', which is a mathematical operation that means to double or to multiply its operand by two. 
        However, this operator's operand (the sum of x and 12) is yet to be solved, meaning, the other operator will be performed first.
        'The sum of' keyword simply means that its operands are to be added together. Gathering our analyzations, we can imply that the idea of the phrase is: 
        add x and twelve together, then multiply their result by two. 
        '</p>
      </div>
    </div>
  </section>

  
  <div id="convert"></div>
  <section class="learn-step section-bg rounded mt-3">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>4. Convert</h2>
        <p>Lastly, we just have to convert the idea into mathematical symbols.</p>
        <p class="lead"><mark>add x and twelve &#8594 x + 12</mark></p>
        <mark class="lead">multiply the result by two &#8594 2 * (x + 12)</mark>
        </p>
        <p>The pair of parentheses () is used to group an operation to indicate that it is to be performed first. 
          If a grouped operation has another grouped operation inside, for example: '2 + (4 / (2 + 2))', then the innermost operation (2 + 2) will be performed first.</p>
        <p><small>Note: The symbol used for multiplication is asterisk (*) to avoid confusion with the variable 'x'. </small></p>
        <br>
        <a href="practice" class="btn btn-outline-light btn-md" style="background-color: #47b2e4">Practice translating</a>
      </div>
    </div>
  </section>
</section>

<!-- jQuery -->
<script>
  $("#learn").removeAttr("href");
  $("#learn").css("color", "#64b3f4");
  $("#learn").addClass("fw-semibold");
</script>

<script 
  src="https://code.jquery.com/jquery-3.6.1.min.js" 
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous">
</script>

<!-- custom js, needs jQuery on top -->
<script src="static/js/bar_loader.js"></script>
{% endblock %}
