{% extends "layout.html" %}
{% block content %}

<section id="home-section">
  <section id="learn-section" class="page-section section-bg rounded">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Learn</h2>
        <p>Worded Mathematical Problems follow the order of operations the way they are written, unless stated that one operation precedes the other. A simple step-by-step guide to follow would be:</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch text-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="fa-brands fa-readme"></i></i></i></div>
            <div class="section-subtitle"><h4 href="">Read</h4></div>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 text-center" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></i></i></div>
            <div class="section-subtitle"><h4 href="">Identify</h4></div>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 text-center" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-gear"></i></i></i></i></div>
            <div class="section-subtitle"><h4 href="">Analyze</h4></div>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 text-center" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-retweet"></i></i></div>
            <div class="section-subtitle"><h4 href="">Translate</h4></div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Learn Section -->


  <!-- <p align="justify" class="etc_info">Worded Mathematical Problems follow the order of operations the way 
  they are written, unless stated that one operation precedes the other. A simple step-by-step guide to follow would be:</p>
  <br>
  <p align="justify" class="etc_info">1. Read the problem</p>
  <p align="justify" class="etc_info">2. Highlight the question (example, “The sum of ... “, “The quotient of ...”)</p>
  <p align="justify" class="etc_info">3. Identify and take note of the keywords and givens (e.g, “Twice the difference of 12 and 7 )</p>
  <p align="justify" class="etc_info">4. Solve the problem using the details sorted out in steps 2 and 3.</p>
  <br>
  <br>
  <p align="justify" class="etc_info">Certain words symbolize operations. For example, the addition operation can be 
  symbolized by the phrases "the sum of ..." , "the total of .. ", "combined", or "the tally of ..." , indicating the grand total of numbers combined.
  On the other hand, words like "difference" or "less than" indicate that the operation to be done is subtraction. Multiplication can be represented 
  by the words "product", "times" and by using modified number words like "once", "twice" and "thrice" to indicate the number of times a variable 
  would be multiplied. (e.g twice the sum of 3 and 5 = 2 * ( 3 + 5 )  ). Division can be identified by using the words "quotient",  "remainder of ", 
  and  "divided by"  .</p>
  <br>
  <p align="left" class="etc_info">Here are some of the commonly used words that indicates an expression:</p> -->
  <br><br><br>
<div class="table-responsive">
<table class="table table-striped text-center">
<thead>
  <tr>
    <th scope="col" style = "color: #FFFFFF;">Addition</th>
    <th scope="col" style = "color: #FFFFFF;">Subtraction</th>
    <th scope="col" style = "color: #FFFFFF;">Multiplication</th>
    <th scope="col" style = "color: #FFFFFF;">Division</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td scope="row" style = "color: #FFFFFF;">added to</td>
    <td style = "color: #FFFFFF;">decreased by</td>
    <td style = "color: #FFFFFF;">multiplied by</td>
    <td style = "color: #FFFFFF;">divided by</td>
  </tr>
  <tr>
    <td scope="row" style = "color: #FFFFFF;">increased by</td>
    <td style = "color: #FFFFFF;">less than</td>
    <td style = "color: #FFFFFF;">the product of</td>
    <td style = "color: #FFFFFF;">the quotient of</td>
  </tr>
  <tr>
    <td scope="row" style = "color: #FFFFFF;">more than</td>
    <td style = "color: #FFFFFF;">minus</td>
    <td style = "color: #FFFFFF;">times</td>
    <td style = "color: #FFFFFF;">ratio of</td>
  </tr>
<tr>
    <td scope="row" style = "color: #FFFFFF;">plus</td>
    <td style = "color: #FFFFFF;">subtracted from</td>
    <td style = "color: #FFFFFF;">twice</td>
    <td style = "color: #FFFFFF;"></td>
  </tr>
<tr>
    <td scope="row" style = "color: #FFFFFF;">the sum of</td>
    <td style = "color: #FFFFFF;">the difference of</td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>
  </div>

</section>

<!-- jQuery -->
<script 
  src="https://code.jquery.com/jquery-3.6.1.min.js" 
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous">
</script>

<!-- custom js, needs jQuery on top -->
<script src="static/js/bar_loader.js"></script>
{% endblock %}
