{% extends "layout.html" %}
{% block content %}
<!-- loaded here kasi ayaw if sa layout -->
<link rel="stylesheet" href="static/css/mathquill.css" />
<link rel="stylesheet" href="static/css/modal.css" />
<script src="static/js/mathquill.js"></script>
<script src="static/js/latex-to-js.js"></script>
<script>
  var MQ = MathQuill.getInterface(2);
</script>

<!-- Check Answer Modal -->
<div class="modal modalc fade" id="check-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modalc-dialog modal-dialog-centered modalc-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modalc-header ftco-degree-bg" id="modal-bg">
      </div>
      <div class="modalc-body pt-md-0 text-center">
        <h2 id="modal-header"></h2>
        <div class="icon d-flex align-items-center justify-content-center">
          <img id="modal-image" alt="" class="img-fluid">
        </div>
        <br>
        <h4 id="modal-footer" class="mb-2"></h4>
        <button type="button" class="bn632c-hover bn25c mt-3" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Explanation  Modal -->
<div id="explanation" class="modal fade"  data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border border-dark">
      <div class="modal-header border-bottom border-dark text-white gradient-background">
        <h2 class="modal-title fs-3 fw-bolder"><i class="fa-solid fa-lightbulb"></i></i>&ensp;Explanation</h2>
      </div>
      <div class="modal-body text-center">
        <p id="explanation-header"  class="fs-3 fw-bolder"</p>
        <p id="solution" class="fs-6 mb-4"></p>
        <p id="solution-answer" class="mb-2 fw-semibold"></p>
      </div>
      <div class="modal-footer py-1">
        <button type="button" class="bn632c-hover bn25c fw-semibold" data-bs-dismiss="modal">OK!</button>
      </div>
    </div>
  </div>
</div>

<section id="home-section">
  <section id="practice-section" class="page-section section-bg rounded pb-2">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Practice</h2>
        <div class="spacer"></div>
        <p class="desc">
          Listed in each selection are different variations of sample problems. Try to translate these
          problems into their equivalent expressions and check if you got the right answer. This will help you
          familiarize yourself with the 'keywords' and their effect on the sentences or phrases.
        </p>
      </div>

      {% 
      set type_det = {
        'add':['Addition', 'fa-plus'], 
        'sub':['Subtraction', 'fa-minus'], 
        'mul':['Multiplication', 'fa-xmark'], 
        'div':['Division', 'fa-divide']
      }%}
      <!-- Operator pills -->
      <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist"
        style="--bs-nav-link-color: #47b2e4; --bs-nav-pills-link-active-bg: #47b2e4">
        {% for i in problems %}
          <li class="nav-item" role="presentation">
            <button class="nav-link 
            {% if i == 'add'%}
            active
            {%endif%}
            fw-semibold mx-2" id="pills-{{i}}-tab" data-bs-toggle="pill"
              data-bs-target="#pills-{{i}}" type="button" role="tab" aria-controls="pills-{{i}}"
              aria-selected="true">{{type_det[i][0]}} <i class="fa-solid {{type_det[i][1]}}"></i></button>
          </li>
        {%endfor%}
      </ul>

      <div class="tab-content" id="pills-tabContent">
        {%for i in problems%}
          <!-- Questions problems -->
          <div class="tab-pane fade 
            {% if i == 'add'%}
            show active
            {%endif%}
          " id="pills-{{i}}" role="tabpanel" aria-labelledby="pills-{{i}}-tab"
            tabindex="0">
            <div class="div_content" id="{{i}}">
              <br>
              <div class="table-responsive align-middle px-2 rounded">
                <table class="table  rounded fs-6 text-center">
                  <thead>
                    <tr>
                      <th scope="col" class="text-start" style="width:60%">Problem</th>
                      <th scope="col">Answer</th>
                      <th scope="col" class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody id="{{i}}Problems"> </tbody>
                </table>
              </div>
            </div>
          </div>
        {%endfor%}
      </div>
    </div>
  </section>
</section>

<script>
let problems = {{problems | safe}}
  function checkAns(type, problemNumber) {
    var raw_input = MQ(document.getElementById(type + "-ans-" + problemNumber)).latex();
    //becareful, latex_to_js is designed to be compatible with mathJS only, some translations will be weird
    input_value = latex_to_js(raw_input).replace(/\\/g, '')
    console.log(input_value)

    if (input_value == "" && $("#" + type + "-btn-" + problemNumber).html() != "Explanation") {
      alert("Please type in your answer first.");
    }
    else {
      if ($("#" + type + "-btn-" + problemNumber).html() == "Check") {
        if (problems[type][problemNumber]['ans'].includes(input_value.replace(/\s/g, '').replace(/([a-z])/g, "x"))) {
          // Load correct modal
          $(document).ready(function () {
            $("#modal-header").html(`Your answer is correct <i class="fa-solid fa-circle-check"></i>`);
            $("#modal-bg").css("background", "linear-gradient(180deg, #5baf8a, #cccccc)");
            $("#modal-image").attr("src", "images/Correct.png");
            $("#modal-footer").html("Keep up the good work!");
            $("#check-modal").modal('show');
          });
        }
        else {
          // Load incorrect modal
          $(document).ready(function () {
            $("#modal-header").html(`Your answer is incorrect <i class="fa-solid fa-circle-xmark"></i>`);
            $("#modal-bg").css("background", "linear-gradient(  180deg, #af5a5a, #cccccc)");
            $("#modal-image").attr("src", "images/Incorrect.png");
            $("#modal-footer").html("Nice try! Keep practicing to familiarize yourself with the keywords.");
            $("#check-modal").modal('show');
            MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
          });;
        }
        // Disable input
        $("#" + type + "-btn-" + problemNumber).html("Explanation");
        $("#" + type + "-ans-" + problemNumber).css('color', 'gray');
        $("#" + type + "-ans-" + problemNumber).find('span.mq-textarea textarea').prop("readonly", true);
      }
      else {
        $(document).ready(function () {
          $("#explanation-header").html(problems[type][problemNumber]['given']);
          $("#solution").html(problems[type][problemNumber].sol);
          if ((problems[type][problemNumber].display_ans).length > 1) {
            $("#solution-answer").html("Answers: `" + problems[type][problemNumber].display_ans[0] + "` or `" + problems[type][problemNumber].display_ans[1] + "`");
          }
          else{
            $("#solution-answer").html("Answer: `" + problems[type][problemNumber].display_ans + "`");
          }
          $("#explanation").modal('show');
          MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
        });
      }
    }
  }
  for(let i in problems){
    htmldata = "";
    for(let j in problems[i]){
      htmldata += `<tr>`;
      htmldata += `<td scope="row" class="text-start info">` + problems[i][j].given + `</td>`;
      htmldata += `<td><div type="text" probtype="`+ i +`" probnum="`+j+`" id="`+ i +`-ans-` + j + `" class="input-mq form-label"></div></td>`;
      htmldata += `<td><a id="`+ i +`-btn-` + j + `" class="btn btn-outline-theme answer float-center" onclick="checkAns('`+ i +`', ` + j + `)">Check</a></td>`;
      htmldata += `</tr>`;

    }
    $("#"+ i +"Problems").html(htmldata);
  }
    // Input enter = Check
    $(".input-mq").off("keypress").keypress(function(event){
      if (event.key === "Enter") {
        let temp_i = $(this).attr('probtype')
        let temp_j = $(this).attr('probnum')
        checkAns(temp_i, temp_j)
      }
    });

  var answerSpan = document.getElementsByClassName('input-mq');

  //all loaded input-mq, show
  console.log(answerSpan);
  var answerMathField = []
  for (let i = 0; i < answerSpan.length; i++) {
    answerMathField[i] = MQ.MathField(answerSpan[i]);
  }
</script>

{% endblock %}