{% extends "layout.html" %}
{% block content %}

<section id="home-section">
  <section id="learn-section" class="page-section section-bg rounded">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>The Team</h2>
      </div>

      <div class="row justify-content-center">

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch text-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="card">
            <img class="card-img-top" src="/images/JMDB.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-title fw-semibold" align = "center">DE BORJA, JOHN MICHAEL</p>
            </div>
            <div class="card-footer">
                <p>ALGORITHM</p>
                <a href="https://www.facebook.com/iamjmdb" target="_blank" style= "text-decoration:none; color: inherit;" class="fa-brands fa-square-facebook"></a>
                <a href="https://www.linkedin.com/in/john-michael-de-borja-a99b8b248/" target="_blank" style= "text-decoration:none; color: inherit;" class="fa-brands fa-linkedin"></a>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 text-center" data-aos="zoom-in" data-aos-delay="200">
          <div class="card">
            <img class="card-img-top" src="/images/RL.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-title fw-semibold" align = "center">LATURNAS, REDEL</p>
            </div>
            <div class="card-footer">
                <p>DESIGN</p>
                <a href="https://www.facebook.com/redel135/" target="_blank" style= "text-decoration:none; color: inherit;" class="fa-brands fa-square-facebook"></a>
                <a href="https://www.linkedin.com/in/redel-laturnas-05bb11248/" target="_blank" style= "text-decoration:none; color: inherit;" class="fa-brands fa-linkedin"></a>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 text-center" data-aos="zoom-in" data-aos-delay="300">
          <div class="card">
            <img class="card-img-top" src="/images/IT.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-title fw-semibold" align = "center">TRESVALLES, IRISH</p>
            </div>
              <div class="card-footer">
                <p>CONTENT</p>
                <a href="https://www.facebook.com/eyerish2001" target="_blank" style= "text-decoration:none; color: inherit;" class="fa-brands fa-square-facebook"></a>
                <a href="https://www.linkedin.com/in/irish-tresvalles-329204241/" target="_blank" style= "text-decoration:none; color: inherit;" class="fa-brands fa-linkedin"></a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section><!-- End Learn Section -->
</section>

<!-- jQuery -->
<script>
  $("#about_us").removeAttr("href");
  $("#about_us").css("color", "#64b3f4");
  $("#about_us").addClass("fw-semibold");
</script>

<script 
  src="https://code.jquery.com/jquery-3.6.1.min.js" 
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous">
</script>

<!-- custom js, needs jQuery on top -->
<script src="static/js/bar_loader.js"></script>
{% endblock %}
