{% extends "layout.html" %}
{% block content %}
<div id="bar2-placeholder" class="sidebar2"></div>
<section id="home-section">
  <div id = "translator" class="container-fluid">
    <main>
      <div class="py-5 text-center" style="height:20em;">
        <img style="width:16em; height:12em;" src="images/Logo.png">
        <h1 style="font-family: Bayon; color: #FFFFFF; font-size: 4em;">TRANSPOSE</h1>
        <h5 style="font-family: Montserrat; color: #FFFFFF;">English Sentence to Math Expression</h5>
      </div>

      <div>
        <form method="POST" id="sentence_form" class="justify-content-center text-muted text-center text-small">
          <p style="color: #dddddd"><br><br><br>Example: {{ example_sent }}</p>
          <div class="input-group mb-3" style="width: 70%; margin: auto";>
              <input type="text"  for="sentence" name="sentence"id="sentence" class="form-control" placeholder="{{last_input}}">
              <button class="btn btn-outline-light">
                  Enter
              </button>
          </div>
        </form>
      </div>
    
      <div id="output" class="output" style="width: 70%; margin: auto; color: black; border-radius: 10px; padding: 0.5em; text-align: center;">
      </div>
    </main>
  </div>
  </section>
<script>
  console.log("dada");
  $("#sentence_form").submit(function(){
    $("#output").css("background", "white");
  });
</script>

<!-- custom js, needs jQuery on top -->
<script src="static/js/bar_loader.js"></script>
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
<script src="static/js/translate_post.js"></script>
{% endblock %}
