{% extends "layout.html" %}
{% block content %}

<!-- independent css file -->
<link rel="stylesheet" href="/static/css/translate_custom.css">


<div id="instructions" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border border-dark">
      <div class="modal-header border-bottom border-dark text-white gradient-background">
        <h2 class="modal-title fs-3 fw-bolder"><i class="fa-solid fa-circle-info"></i>&ensp;Instructions</h2>
      </div>
      <div class="modal-body">
        <p class="mb-0">Go learn and practice </p>
      </div>
      <div class="modal-footer py-1">
        <button id="instructions_close" type="button" class="bn632-hover bn25 fw-semibold" data-bs-dismiss="modal">OK!</button>
      </div>
    </div>
  </div>
</div>


<!-- Table Modal -->
<div class="modal fade" id="table">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body text-center">
        <div class="table-responsive">
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th scope="col">Addition</th>
                <th scope="col">Subtraction</th>
                <th scope="col">Multiplication</th>
                <th scope="col">Division</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">added to</td>
                <td>decreased by</td>
                <td>multiplied by</td>
                <td>divided by</td>
              </tr>
              <tr>
                <td scope="row">increased by</td>
                <td>less than</td>
                <td>the product of</td>
                <td>the quotient of</td>
              </tr>
              <tr>
                <td scope="row">more than</td>
                <td>minus</td>
                <td>times</td>
                <td>ratio of</td>
              </tr>
              <tr>
                <td scope="row">plus</td>
                <td>subtracted from</td>
                <td>twice</td>
                <td></td>
              </tr>
              <tr>
                <td scope="row">the sum of</td>
                <td>the difference of</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<section id="home-section">
  <div id="translator" class="container-fluid">
    <main>
      <div class="pt-5 text-center">
        <img style="width:276px; height:208px;" src="images/Logo.png">
        <h1 style="font-family: Bayon; color: white; font-size: 65px; text-shadow: 1px 2px #000;">TRANSPOSE</h1>
        <h5 class="text-white" style="font-family: Montserrat; ">English to Math Expression</h5>
      </div>

      <div class="spacer py-2"></div>
      <!-- Translate bar -->
      <form method="POST" id="sentence_form" class="input-group mb-3 container-sm">
        <textarea id="sentence" name="sentence" class="form-control rounded-start-3 bg-light border border-light"
          type="text" for="sentence" placeholder="Enter math phrase: " style="height:20px"></textarea>
        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false"></button>
        <ul class="dropdown-menu" style="max-height: 200px;overflow-y: auto; max-width: 500px;">
          {%for i in example_list%}
          <li class="phrases dropdown-item user-select-none" value="{{i}}"
            style="width: 400px; white-space: normal; cursor: pointer">
            {{i}}
          </li>
          {%endfor%}
        </ul>
        <button class="btn btn-light" style="border-left-color:#000;">Enter</button>
      </form>

      <!-- Output bar -->
      <div id="output" class="output"></div>
    </main>
  </div>

  <!-- Fixed Buttons -->
  <a id="table_btn" class="btn btn-lg btn-dark" style="position: fixed; bottom:30px; right:21px;">
    <i class="fa-solid fa-table"></i>
  </a>
</section>

<script>
  // modals
  $("#table_btn").on('click', function(){
    $("#table").modal('show');
  })
  $(document).ready(function () {
    $("#instructions").modal('show');
  });

  // #instructions on close animation
  $("#instructions_close").on('click', function(){
    $('#table_btn')
      .css('border', '2px solid pink')
      .addClass("animate__animated animate__headShake animate__slow")
      .on('animationend', function(){
        $(this)
          .removeClass("animate__animated animate__headShake animate__slow")
          .css('border', '')
      });
  });
</script>

<!-- jquery-textcomplete -->
<script type="text/javascript" src="static/js/jquery.textcomplete.js"></script>

<!-- custom js, needs jQuery on top -->
<script type="text/javascript" src="static/js/translate_custom.js"></script>


{% endblock %}