{% extends "layout.html" %}
{% block content %}
<div id="bar2-placeholder" class="sidebar2"></div>
<section id="home-section">
  <div class="container my-2 py-2 bg-dark bg-opacity-25 fs-5 rounded">
  <br>
  <h2 class="title_custom"><i class="fa-solid fa-circle-info" style="font-size: 0.85em"></i>&ensp;What is Transpose</h2>
  <br>
  <p align="justify" class="etc_info">&emsp;&emsp;Transpose is a website that acts as a supplemental tool for students, 
  especially Grade 7 students, in learning a specific topic namely: "Translating English phrases to mathematical expressions". The tool does exactly 
  what the topic says, it translates english phrases inputted by the user, then outputs its mathematical expression equivalent.</p>
  <br>
  <p align="justify" class="etc_info">&emsp;&emsp;Transpose aims to lessen the confusion students face when translating worded problems, 
  like operator precedence and the difference between the usage of keywords and their impact on the problem's translated outcome. Transpose also provides short 
  guides to how these answers are formulated, with brief instructions that students can follow and apply to future problems without relying on the calculator.</p>
  </div>
  <br>
  <div class="container my-2 py-2 bg-dark bg-opacity-25 fs-5 rounded">
  <h2 class="title_custom"><i class="fa-solid fa-lightbulb" style="font-size: 0.85em"></i>&ensp;Why Transpose</h2>
	<br>
	<p align="justify" class="etc_info">&emsp;&emsp;According to Programme for International Student Assessment or PISA's statistics in 2018, the mean score of 15 year-old Filipinos' 
	performance in secondary level mathematics is 353, that is 136 points lower than the average of 489 points among 77 countries participating in PISA, 
	making the Philippines ranked 75th or the 3rd lowest performing country. According to the studies, one of the students' hindrance in learning 
	mathematics is comprehending word problems. Students are having difficulties formulating these problems to turn into math expressions for easier 
	solving.</p>
	<br>
	<p align="justify" class="etc_info">&emsp;&emsp;Based on DepEd’s K-12 Basic Education Curriculum, the translation of English phrases to mathematical phrases and vice versa are mostly 
	encountered by Grade 7 students. Although online tools that solve math problems exist, they are either not broad enough to perceive problems 
	involving multiple operators or complex enough to perceive simple structured phrases that are commonly used in grade 7 curriculum. This where 
	Transpose comes in, a supplemental tool that caters to the phrases encountered in Grade 7 that would aid the students translate them sensibly.</p>
  </div>
  


</section>


  <!-- jQuery -->
  <script 
    src="https://code.jquery.com/jquery-3.6.1.min.js" 
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous">
  </script>

  <!-- custom js, needs jQuery on top -->
  <script src="static/js/bar_loader.js"></script>
  {% endblock %}