<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html>
  <head>
	<title> Transpose | English Sentence to Math Expression Translator </title>
	<!-- Design imports -->
	<div id="imports">	
	</div>
  </head>

 <body>
  <div id="bar-placeholder">
  </div>
  <div id="bar2-placeholder" class="sidebar2">
  </div>
  <section id="home-section">
    <div class="container-fluid">
	<br>
    <div class="main_custom">
		<h2 class="title_custom"><i class="fa-solid fa-circle-info" style="font-size: 0.85em"></i>&ensp;What is Transpose</h2>
		<br>
		<p align="justify" class="etc_info">&emsp;&emsp;Transpose is a website that acts as a supplemental tool for students, 
		especially Grade 7 students, in learning a specific topic namely: "Translating English phrases to mathematical expressions". The tool does exactly 
		what the topic says, it translates english phrases inputted by the user, then outputs its mathematical expression equivalent.</p>
    <br>
    <p align="justify" class="etc_info">&emsp;&emsp;Transpose aims to lessen the confusion students face when translating worded problems, 
      like operator precedence and the difference between the usage of keywords and their impact on the problem's translated outcome. Transpose also provides short 
      guides to how these answers are formulated, with brief instructions that students can follow and apply to future problems without relying on the calculator.</p>
    </div>

  </section>
    
  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/956ed01ee8.js" crossorigin="anonymous"></script>

  <!-- jQuery -->
  <script 
    src="https://code.jquery.com/jquery-3.6.1.min.js" 
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous">
  </script>

  <!-- custom js, needs jQuery on top -->
  <script src="static/js/bar_loader.js"></script>
  
  </body>
</html>